# ------------------------------------ Assets ----------------------------------- #
node_modules/
tsconfig.json

# ------------------------------------- Next ------------------------------------ #
next.config.js
next.export.config.js